html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Arial;
}

ul,
h1,
h2,
h3,
p {
  padding: 0px;
  margin: 0px;
}

li {
  list-style: none;
}

b {
  font-size: 14px;
}

a {
  text-decoration: none;
}
