.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
}
.container-body-list-card {
  padding-right: 19px;
}

@media screen and (min-width: 300px) {
  .container {
    max-width: 300px;
  }
}

// @media screen and (min-width: 768px) {
//   .container {
//     max-width: 738px;
//   }
// }

@media screen and (min-width: 904px) {
  .container {
    max-width: 904px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .container-relative {
    max-width: 904px;
    padding-left: 44px;
    padding-right: 44px;
    margin-right: auto;
    margin-left: auto;
  }
}
