.body-background {
  background-image: url('../images/bcgr.png');
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
}

.clouds1 {
  background-image: url(../images/cloud1.png);
  height: 164px;
  position: absolute;
  width: 100%;
  top: 0px;
  background-size: contain;
  z-index: 18;
  animation: cloudmove 3s infinite linear;
}
