// .list-tabs {

// }
.list-tab-item {
  position: absolute;
  z-index: 20;
  top: 0;

  width: 60vw;
  padding: 20px;
  display: flex;
  background-color: rgba($color: #80b1df, $alpha: 0.8);
  transform: translate(-104%, 185px);
  border-radius: 20px;
  box-shadow: 7px 7px 11px -1px rgba(0, 0, 0, 0.92);
}

.active-item {
  transform: translate(34%, 185px);
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
  transition-delay: 250ms;
}
.hide-tab-btn {
  visibility: hidden;
  transition: 250ms;
}

.list-tab-item-close-btn {
  position: absolute;
  width: 40px;

  right: -15px;
  top: -15px;
  height: 40px;
  border-radius: 50%;
  outline: none;
  border: 1px black solid;
}

.list-tab-item-btn {
  position: absolute;
  right: -227px;
  top: 0px;
  width: 220px;
  height: 50px;
  border: 0;
  outline: 0;
  height: 72px;
  border-radius: 20px;
  box-shadow: 6px 6px 21px 8px rgba(0, 0, 0, 0.91);
  background-color: transparent;
  font-size: 22px;

  &:hover {
    background-color: rgb(241, 180, 12);
    transition: 0.25s;
    transform: scale(1.1);
  }
}

.btn-two {
  top: 100px;
}

.btn-three {
  top: 200px;
}
.btn-four {
  top: 300px;
}

.btn-one,
.btn-three {
  animation-name: btn-one;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes btn-one {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.btn-two,
.btn-four {
  animation-name: btn-two;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes btn-two {
  0% {
    transform: scale(1.1);
  }

  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

// текст табов
.list-tab-item p {
  text-align: center;
  font-size: 16px;
  line-height: 28px;
}
